{# templates/admin/new.html.twig #}
    {% extends '@EasyAdmin/default/new.html.twig' %}

    {% block entity_form %}

    {{ form_start(form) }}

        {% for field in form.children %}
            {% if field.vars.name != 'locationString' %}
                {{ form_row(field) }}
            {% else %}
                <div class="locationString MapBox location">
                    {{ form_row(field) }}
                </div>
            {% endif %}
        {% endfor %}

        {{ form_end(form) }}

        {#{{ form(form) }}#}

        {# ... customize the content title ... #}


    {% endblock %}