{% extends 'taxidrivers/base.html.twig' %}

{% block title %}Index{% endblock %}

{% block meta %}
    <meta name="description" content="{% trans %}index.meta.description{% endtrans %}">

    <link rel="preload"
          href="https://www.tripadvisor.com/wejs?uniq=25&locationId=13554747&lang={{ lang }}&border=false&display_version=2&wtype=selfserveprop&rating=true&nreviews=4&writereviewlink=true&popIdx=true&iswide=false"
          as="script">
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('taxiDriversIndex') }}
    {{ encore_entry_link_tags('taxiDriversIndexNoCritical') }}
{% endblock %}


{% block body %}
    <main>
        {{ include('taxidrivers/index/_hero.html.twig') }}

        {{ include('taxidrivers/index/_places.html.twig') }}

        {{ include('taxidrivers/index/_reviews.html.twig') }}

        {{ include('taxidrivers/index/_us.html.twig') }}

        {{ include('taxidrivers/index/_faq.html.twig') }}

        {{ include('taxidrivers/index/_contact.html.twig') }}
    </main>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('taxiDriversIndex') }}
    {{ encore_entry_script_tags('taxiDriversIndexNoCritical') }}
{% endblock %}