{% extends 'taxidrivers/base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('taxiDriversPlace') }}
{% endblock %}


{% block body %}
    <main>
        {{ include('taxidrivers/place/_hero.html.twig') }}
        
        {{ include('taxidrivers/place/_description.html.twig') }}

        {{ include('taxidrivers/place/_services.html.twig') }}
    </main>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('taxiDriversPlace') }}
{% endblock %}