<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.png" />
    <link
        rel="apple-touch-icon"
        sizes="76x76"
        href="/apple-touch-icon.png"
    />
    <title>
        Taxidrivers Corp | Admin
    </title>

    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js#}
        {{ encore_entry_link_tags('dashApp_login') }}


    {% endblock %}


</head>
<body class="text-gray-800 antialiased">
<noscript>
    <strong
    >We're sorry but vue-notus doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
    >
</noscript>
{% if app.user %}
    <div class="mb-3">
        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
{% endif %}

{% if error %}
    <div class="alert alert-danger text-muted">
                    <span class="fa fa-asterisk">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </span>
    </div>
{% endif %}
<div id="app">
    <auth
        url-forgot-password="{{ url('app_forgot_password') }}"
        csrf-token="{{ csrf_token('authenticate') }}"
        last-username="{{ last_username }}"
    ></auth>
</div>
<!-- built files will be auto injected -->

{% block javascripts %}
    {{ encore_entry_script_tags('dashApp_login') }}
{% endblock %}
</body>
</html>
