{% extends 'dash/base.html.twig' %}

{% block AppContent %}

    <div class="peers ai-s fxw-nw h-100vh">
        <div class="d-n@sm- peer peer-greed h-100 pos-r bgr-n bgpX-c bgpY-c bgsz-cv" style='background-image: url("{{ asset('dash/images/bg.jpg') }}")'>
            <div class="pos-a centerXY">
                <div class="bgc-white bdrs-50p pos-r login-center-circle">
                </div>
                <img class="pos-a centerXY" src="{{ asset('dash/images/logo.png') }}" alt="logo">
            </div>
        </div>


        <div class="col-12 col-md-4 peer pX-40 pY-80 h-100 bgc-white scrollable pos-r" style='min-width: 320px;'>
            <h4 class="fw-300 c-grey-900 mB-40">Reset Password</h4>
            {{ form_start(form) }}
            {% if form.vars.errors.count() %}
                <div class="text-muted">{{ form_errors(form) }}</div>
            {% endif %}



            <div class="form-group">
                <label class="text-normal text-dark">Password</label>
                {{ form_widget(form.password.plain, {'attr': {'class': "form-control", 'placeholder':"Password"} }) }}

            </div>
            <div class="form-group">
                <label class="text-normal text-dark">Password Confirmation</label>
                {{ form_widget(form.password.confirmation, {'attr': {'class': "form-control", 'placeholder':"Password"} }) }}

            </div>
            <div class="form-group">
                <div class="peers ai-c jc-sb fxw-nw">
                    <div class="peer">
                        <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                            <a href="{{ url('forgot_password') }}">Forgot password?</a>

                        </div>
                    </div>
                    <div class="peer">
                        <input type="submit" value="Reset your password"   class="btn btn-primary"/>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
