{# start LOGO #}
<div id="big-logo-container" class="bg-white md:flex justify-center p-2 hidden">
    <a href="{{ path('index') }}" class="header-link-logo m-auto">
        <img src="{{ asset('images/logo-wide.png') }}" alt="Taxi Drivers Cuba">
    </a>
</div>
{# END LOGO #}

<header  id="header" class="fixed md:sticky top-0 w-full text-gray-700 body-font bg-gray-900 z-50">
    <header-menu
        current-lang="{{ app.request.locale }}"
        services-title="{{ 'Nav.Services' | trans }}"
        about-us-title="{{ 'Nav.AboutUs' | trans }}"
        contact-title="{{ 'Nav.Contact' | trans }}"
        nav-services-airport-transfer-title="{{ 'Airport transfer' | trans }}"
        nav-services-airport-transfer-intro="{{ 'Get a taxi to or from any cuban airport' | trans }}"
        nav-services-experiences-title="{{ 'Experiences' | trans }}"
        nav-services-experiences-intro="{{ 'Live Cuba in first person enjoying an unforgettable experience' | trans }}"
        nav-services-taxi-title="{{ 'Intercity Taxi' | trans }}"
        nav-services-related="{{ 'Related Services' | trans }}"
        nav-services-custom-itinerary="{{ 'Custom Itinerary' | trans }}"
        nav-about-who-we-are-title="{{ 'Who we are?' | trans }}"
        nav-about-who-we-are-intro="{{ 'A small team with great passion for classic cars' | trans }}"
        nav-about-we-in-numbers-title="{{ 'Taxi Drivers in numbers' | trans }}"
        nav-about-we-in-numbers-intro="{{ 'You are our priority from day one' | trans }}"
        nav-about-reviews-title="{{ 'Reviews & Testimonials' | trans }}"
        nav-about-reviews-intro=""
        nav-about-recent-post="{{ 'Recent Posts' | trans }}"
        nav-about-all-posts="{{ 'View all posts' | trans }}"
        mobile-nav-contact-msg="{{ 'Anything else?' | trans }}"

        action-url="#"></header-menu>
</header>
